@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

#eyecatch {
  height: 600px;
  background: url(img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}

#eyecatch .box1 {
  position: absolute;
  top: 90%;
  right: 8%;
  background-color: #ffffff;
  width: 550px;
  height: 60px;
}

#eyecatch .box1 h1 {
  position: absolute;
  top: 10%;
  left: 0%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

#eyecatch .box1 h2 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

#eyecatch .button1 {
  position: absolute;
  top: 90%;
  right: 0%;
  background-color: #000;
  width: 150px;
  height: 60px;
}

#eyecatch .button1 h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.box2 {
  /* 削除 */
  /* position: absolute; */
  /* width: 1520px; */
  height: 500px;
  background-color: #000;
  background-position: center;
}

.box2 p {
  /* 削除 */
  /* margin-top: 150px; */
  padding-top: 180px;
  margin-left: 200px;
  color: #ffffff;
  font-size: 25px;
  font-style: bold;
}

.box2 h1 {
  position: relative;
  z-index: 30;
  margin-top: 30px;
  margin-left: 200px;
  color: #ffffff;
  font-size: 15px;
  width: 900px;
  line-height: 25px;
}

.button2 {
  margin-top: 30px;
  margin-left: 200px;
  height: 30px;
  width: 130px;
  background-color: #ffffff;
}

.button2 h2 {
  text-align: center;
  padding: 8px 0;
  color: #000;
  font-weight: normal;
}

.box2 img {
  width: 600px;
  margin-left: 630px;
  margin-top: -180px;
}

.box3 {
  position: relative;
  z-index: -10px;
  margin-top: 80px;
  margin-left: 600px;
  height: 280px;
  width: 500px;
  background-color: #ffffff;
}

.box3 img {
  position: relative;
  z-index: -20px;
  width: 600px;
  margin-top: -150px;
  margin-left: 320px;
}

/* 以下追加したスタイルになります */
#service {
  margin-top: 200px;
  background: #ccc;
}
#service img {
  width: 45%;
  height: 500px;
}
#service h2 {
  text-align: center;
  font-size: 24px;
}
#service .content {
  position: relative;
  padding-bottom: 200px;
}
#service .camera {
  display: block;
  margin-left: auto;
}
#service .card {
  width: 35%;
  height: 250px;
  padding: 60px;
  background: #fff;
  position: absolute;
  top: 65px;
}
.first-card {
  right: 500px;
}
.first-card h3 {
  padding: 15px;
  font-size: 16px;
}
.first-card p {
  font-size: 13.5px;
  padding: 13px;
  padding-left: 15px;
  line-height: 20px;
}

.button p {
  margin-left: 420px;
  border: solid 1px #000;
}

.second-card {
  left: 500px;
}
.second-card h3 {
  padding: 15px;
  font-size: 16px;
}

.second-card p {
  font-size: 13.5px;
  padding: 13px;
  padding-left: 20px;
  line-height: 20px;
}

.button p {
  margin-left: 413px;
  border: solid 1px #000;
}

#information .company img {
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: 200px;
  margin-top: 100px;
}

.company p {
  margin-top: -130px;
  margin-left: 310px;
  font-size: 30px;
  color: #ffffff;
}

.company h1 {
  margin-top: 10px;
  margin-left: 340px;
  font-size: 16px;
  color: #fff;
}

#information .recruit img {
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: 200px;
  margin-top: -125px;
  margin-left: 770px;
}

.recruit p {
  margin-top: -130px;
  margin-left: 1100px;
  font-size: 30px;
  color: #fff;
}

.recruit h1 {
  margin-top: 10px;
  margin-left: 1120px;
  font-size: 16px;
  color: #fff;
}

#FAQ {
  margin-top: 180px;
  margin-left: 280px;
  width: 964.8px;
  height: 100px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  position: relative;
}

#FAQ p {
  padding-top: 35px;
  padding-left: 30px;
  font-size: 30px;
  color: #fff;
}

#FAQ h1 {
  margin-top: -20px;
  margin-left: 430px;
  font-size: 16px;
  color: #ffffff;
}

#contact {
  background: url(img/contact-bg.jpg);
  width: 964.8px;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#contact p {
  padding-top: 200px;
  padding-left: 500px;
  font-size: 16px;
  color: #fff;
}

#contact .button3 p {
  padding-left: 200px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  border: solid 1px #fff;
}

.footer {
  margin-top: 100px;
  height: 100px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 16px;
  display: flex;
  color: #f2f2f2;
}

.footer-nav ul {
  margin-top: -50px;
  margin-left: 1050px;
  display: flex;
  color: #fff;
}

.footer-nav li {
  margin-right: 35px;
  font-size: 16px;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer h2 {
  margin-left: 600px;
  margin-top: 50px;
  font-size: 12px;
  color: #fff;
}
