@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

#eyecatch {
  height: 600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}

#eyecatch .box1 {
  position: absolute;
  top: 90%;
  right: 8%;
  background-color: #ffffff;
  width: 550px;
  height: 60px;
}

#eyecatch .box1 h1 {
  position: absolute;
  top: 10%;
  left: 0%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

#eyecatch .box1 h2 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

#eyecatch .button1 {
  position: absolute;
  top: 90%;
  right: 0%;
  background-color: #000;
  width: 150px;
  height: 60px;
}

#eyecatch .button1 h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.box2 {
  position: absolute;
  height: 500px;
  width: 1520px;
  background-color: #000;
  background-position: center;
}

.box2 p {
  margin-top: 150px;
  margin-left: 200px;
  color: #ffffff;
  font-size: 25px;
  font-style: bold;
}

.box2 h1 {
  position: relative;
  z-index: 30;
  margin-top: 30px;
  margin-left: 200px;
  color: #ffffff;
  font-size: 15px;
  width: 900px;
  line-height: 25px;
}

.button2 {
  margin-top: 30px;
  margin-left: 200px;
  height: 30px;
  width: 130px;
  background-color: #ffffff;
}

.button2 h2 {
  text-align: center;
  padding: 8px 0;
  color: #000;
  font-weight: normal;
}

.box2 img {
  position: relative;
  z-index: 10;
  width: 600px;
  margin-left: 650px;
  margin-top: -180px;
}

#service {
  margin-top: 650px;
  height: 1100px;
  background-color: #e2e2e2;
}

#service p {
  position: relative;
  z-index: 20px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  color: #000;
}

#service img {
  position: relative;
  z-index: 10px;
  width: 600px;
  float: right;
}

.box3 {
  position: relative;
  z-index: 20px;
  margin-top: 75px;
  margin-left: 300px;
  height: 280px;
  width: 680px;
  background-color: #ffffff;
}

.box3 h1 {
  padding: 65px;
  font-weight: bold;
}

.box3 h2 {
  margin-top: -45px;
  margin-left: 60px;
  position: relative;
  z-index: 20px;
  font-weight: normal;
}

.box3 h3 {
  margin-top: 10px;
  margin-left: 60px;
  position: relative;
  z-index: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.button3 {
  margin-top: 8px;
  margin-left: 470px;
  height: 30px;
  width: 130px;
  background-color: #ffffff;
  border: solid 1px #333;
}

.button3 h4 {
  text-align: center;
  padding: 8px 0;
  font-weight: normal;
  font-size: 14px;
}

.box4 {
  position: relative;
  z-index: 20px;
  margin-top: 200px;
  margin-left: 600px;
  height: 280px;
  width: 680px;
  background-color: #ffffff;
}

.box4 h1 {
  padding: 65px;
  font-weight: bold;
}

.box4 h2 {
  margin-top: -45px;
  margin-left: 60px;
  position: relative;
  z-index: 20px;
  font-weight: normal;
}

.box4 h3 {
  margin-top: 10px;
  margin-left: 60px;
  position: relative;
  z-index: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.button4 h4 {
  text-align: center;
  padding: 8px 0;
  font-weight: normal;
  font-size: 14px;
}
